obstacle_range: 5 # Object detection distance
raytrace_range: 5
footprint: [[0.38, 0.21], [0.38, -0.21], [-0.38, -0.21], [-0.38, 0.21]]
footprint_padding: 0.1
#robot_radius: ir_of_robot
#robot_radius: 0.4 # distance a circular robot should be clear of the obstacle
inflation_radius: 2
cost_scaling_factor: 0.7

map_type: costmap
observation_sources: laser_scan_sensor #point_cloud_sensor

# marking - add obstacle information to cost map
# clearing - clear obstacle information to cost map
laser_scan_sensor: {sensor_frame: link_lidar, 
                    data_type: LaserScan,
                    topic: /d_hospital/laser/scan, 
                    marking: true, 
                    clearing: true
                    }

#point_cloud_sensor: {sensor_frame: frame_name, data_type: PointCloud, topic: topic_name, marking: true, clearing: true}
