local_costmap:
  plugins:
    - {name: obstacles, type: "costmap_2d::ObstacleLayer"}
    - {name: inflation, type: "costmap_2d::InflationLayer"}
  # Coordinate frame and tf parameters
  global_frame: map
  robot_base_frame: base
  transform_tolerance: 0.5

  # Rate Parameters
  update_frequency: 2.0
  publish_frequency: 5.0

  # Map management parameters
  rolling_window: true
  always_send_full_costmap: true

  # Can be overwritten by some layers
  resolution: 0.05
  width: 10
  height: 10
